.list-view .content {
    display: flex;

}
.create-floor-form {
    margin: 0;
}
.add-icon {
    color: hsl(214, 90%, 52%);
    margin: auto 0 auto 15px;
}
.create-room-task-view {
    padding: 0;
    margin: 0;
}

.create-floor-heading {
    font-weight: normal;
    margin: 25px 0 25px 0;
    font-size: 2em;
}