/*tasks-view,*/
/*#tasks-view {*/
/*    display: block;*/
/*    padding: 1em;*/
/*}*/
.task-card {
    border-bottom: 1px solid rgba(192, 192, 192, 0.12);
    font-size: 0.9em;
}

span {
    width: 31em;
}


@media screen and (max-width: 420px) {
    .task-name {
        width: 8em;
    }

    .room-name {
        width: 4em;
    }

    .task-card {
        /*width: 80%;*/
        border-bottom: 1px solid rgba(192, 192, 192, 0.8);
        font-size: 0.7em;
        margin-top: 0px;
    }

    .task-card-button {
        font-size: 1em;
        margin: 0px;
        height: 0px;
    }
}
