:root {
    --mobile-viewport-width: 479px;
}
.task-card {
    width: 100%;
    border-bottom: 1px solid rgba(192, 192, 192, 0.4);
    font-size: 0.9em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 0 0 0;
}

.tasks-layout {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.task-card-button {
    font-size: 1em;
    height: 33px;
    width: 85px;
    /*margin: 7vw 0 0 auto;*/
    margin: auto 0 auto auto;
}

.task-name {
    /*width: 50vw;*/
    /*padding-left: 0.5em;*/
    font-size: 1.5em;
    margin-right: auto;
}

.room-name {
    width: 25vw;
    font-size: 1.1em;
}
@media screen and (max-width: 420px) {
/*@media screen and (max-width: var(--mobile-viewport-width)) {*/
    .task-name {
        margin-right: auto;
        font-size: 1.3em;
        /*width: 33vw;*/
        /*padding-left: 0.5em;*/
    }

    .room-name {
        width: 25vw;
        font-size: 1em;
    }

    .task-card {
        width: 100%;
        border-bottom: 1px solid rgba(192, 192, 192, 0.4);
        font-size: 0.9em;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0 0 0 0;
    }

    .task-card-button {
        font-size: 1em;
        height: 33px;
        width: 85px;
        margin: auto 0 auto auto;;
    }


    .floor-details-tasks-layout {
        width: inherit;
        padding-left: 0;
        padding-right: 0;
        margin: 0 0;
    }
}
