
.task-card {
    width: 100%;
    border-bottom: 1px solid rgba(192, 192, 192, 0.4);
    font-size: 0.9em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 0 0 0;
}

.floor-tasks-layout {
    margin-top:0;
}

.task-card-button {
    font-size: 1em;
    height: 33px;
    width: 85px;
    /*margin: 7vw 0 0 auto;*/
    margin: auto 0 auto auto;
}

.task-name {
    /*width: 50vw;*/
    /*padding-left: 0.5em;*/
    font-size: 1.3em;
    margin-right: auto;
}

.room-name {
    width: auto;
    font-size: 1.1em;
}

.assign-task-heading {
    font-weight: normal;
    margin: 30px 0 10px 0;
    font-size: 2em;
}
.assign-task-view {
    padding: 0;
}

@media screen and (max-width: 768px) {

    /*@media screen and (max-width: var(--mobile-viewport-width)) {*/
    .task-name {
        margin-right: auto;
        font-size: 1.4em;
        /*width: 33vw;*/
        /*padding-left: 0.5em;*/
    }

    .room-name {
        /*width: 25vw;*/
        font-size: 1em;
    }

    .task-card {
        width: 100%;
        border-bottom: 1px solid rgba(192, 192, 192, 0.4);
        font-size: 0.9em;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0 0 0 0;
    }

    .task-card-button {
        font-size: 1em;
        height: 33px;
        width: 85px;
        margin: auto 0 auto auto;;
    }


    .floor-details-tasks-layout {
        width: inherit;
        padding-left: 0;
        padding-right: 0;
        margin: 0 0;
    }
}
