.submenu-navbar {
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1;
    background: white;
}

.submenu-layout {
    padding: 0;
}

.subMenuTab-layout {
    padding-top: 0;
    width: 50px;
    box-sizing: content-box;
}