.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    height: 5px;
    width: 5px;
    cursor: pointer;

}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.feature-image {
    width: 20vw;
    height: 83vh;
}

.carousel-layout {
    width: 23px;
}

.dots {
    width: 11vw;
    text-align: center;
    margin-left: 5px;
}

.navigation {
    width: 20vw;
    margin: 0;
}

.label-previous {
    padding-left: 8px;
    margin: 0;
    cursor: pointer;
}

/*.previous {*/
/*    align-items: center;*/
/*    margin-left: 20px;*/
/*    cursor: pointer;*/
/*}*/

.label-next {
    padding-right: 0;
    margin-right: -8px;
    margin-left: 10px;
    cursor: pointer;
}

a {
    text-decoration: none;
    display: inline-block;
    /*padding: 8px 16px;*/
    cursor: pointer;

}

a:hover {
    text-decoration: none;
    /*background-color: #717171;*/
    color: black;
}

.previous {
    /*background-color: #bbbbbb;*/
    color: black;
}

.next {
    /*background-color: #bbbbbb;*/
    color: black;
}

.round {
    border-radius: 50%;
}

@media screen and (min-width: 1680px) {
    .dots {
        width: 12vw;
    }
}

@media screen and (max-width: 768px) {
    .feature-image {
        width: 78vw;
        height: 86vh;
    }

    .dots {
        width: 40vw;
    }

    .navigation {
        width: 100%;
    }
}