.ver-layout {
    padding-right: 0;
    padding-left: 0;
    /*padding-top: 0;*/
    /*margin-top: 0;*/
}

.feature-block-wrapper {
    margin: auto auto;
    display: flex;
    /*width: 90vw;*/
    flex-direction: row;
    justify-content: space-evenly;
}

.feature-block-text {
    display: block;
    margin-left: 20px;
    width: 45vw;
}

.feature-description {
    /*flex: 1;*/
    width: 34vw;
}

.feature-illustration {
    /*width: 25vw;*/
}

.feature-title {
    font-weight: lighter;
    margin-top: 15px;
}

.phone-frame-wrapper {
    position: relative;
    top: 0;
    left: 0;
}
.phone-frame {
    width: 21vw;
    height: 83vh;
}
.feature-image-wrapper {
    position: absolute;
    top: 13vh;
    left: 2vw;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .ver-layout {
        /*padding-right: 0;*/
        /*padding-left: 0;*/
    }
    .feature-block-wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .feature-block {
        display: block;
    }

    .feature-description {
        /*flex: 1;*/
        width: 20vw;
    }

    .feature-illustration {
        margin: auto;
    }

    .feature-title {
        font-weight: lighter;
        margin: 0;
        padding: 15px 0 15px 0;
    }
    .phone-frame {
        width: 80vw;
        height: 84vh;
        margin-left: 6vw;
    }
    .feature-image-wrapper {
        position: absolute;
        top: 12vh;
        left: 12vw;
        z-index: 1;
    }
    /*.feature-image {*/
    /*    width: 68vw;*/
    /*    height: 61vh;*/
    /*}*/
    /*.feature-image {*/
    /*    max-width: 80vw;*/
    /*}*/
    .feature-block-text {
        display: block;
        margin-left: 20px;
        margin-right: 20px;
        width: inherit;
    }
}
