.feature-block-wrapper {
    margin: auto auto;
    /*width: 90vw;*/
}

.feature-block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.feature-description {
    /*flex: 1;*/
    width: 20vw;
}

.feature-illustration {
    width: 25vw;
}

.feature-title {
    font-weight: lighter;
}

.phone-frame-wrapper {
    position: relative;
    top: 0;
    left: 0;
}
.feature-image {
    width: 17vw;
    height: 59vh;
}
.phone-frame {
    width: 21vw;
    height: 83vh;
}
.feature-image-wrapper {
    position: absolute;
    top: 13vh;
    left: 2vw;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .ver-layout {
        padding-right: 0;
        padding-left: 0;
    }
    .feature-block-wrapper {
        max-width: 88vw;
        margin-left: 0;
        margin-right: 0;
    }

    .feature-block {
        display: block;
    }

    .feature-description {
        /*flex: 1;*/
        width: 20vw;
    }

    .feature-illustration {
    }

    .feature-title {
        font-weight: lighter;
        margin: 0;
        padding: 15px 0 15px 0;
    }
    .phone-frame {
        width: 80vw;
        height: 84vh;
        margin-left: 6vw;
    }
    .feature-image-wrapper {
        position: absolute;
        top: 12vh;
        left: 12vw;
        z-index: 1;
    }
    .feature-image {
        width: 68vw;
        height: 61vh;
    }
    /*.feature-image {*/
    /*    max-width: 80vw;*/
    /*}*/
}
